################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Synthesizer/.vs/Synthesizer/FileContentIndex/81afe52f-ba7a-491c-98b8-3da709f15eb3.vsidx
